body{
    margin:1.5%;
    background-color: rgb(0, 0, 0);
    }

#banner{
    width: 100vw;
    height: 34vh;
display: flex;
flex-direction: row;
align-items: center;
flex-wrap: wrap;
  margin-top: 1%;
}
#foto{
    width: 15%;
    border-color: red;
    border-style: solid;
    border-width: 5px;
    border-radius: 1%;
    display: flex;
    justify-content: start;
    margin-top: -16%;
    flex-wrap: wrap;
    position: relative;
}
header>ul{
    display: flex;
    justify-content: end;
    margin-top: -2%;
    flex-wrap: wrap;
}
header>ul>li{
    display: inline-block;
    margin-left: 1%;

}
header>ul>li>a{
    color: red;
    background-color: white;
    font-size: 80%;

}
ul>li{
    font-size: 150%;
}
#Experiencia{
background-color: rgba(7, 32, 32);
color: bisque;
}
#Estudios{
    background-color: rgb(10, 7, 32);
    color: bisque;
}
#Herramientas{
    background-color: rgb(32, 32, 7);
    color: bisque;
}
#Idioma{
    background-color: rgb(74, 18, 7);
    color: bisque;
}
h1{
    color: bisque;
}
.contenedor-footer>p{
    color: bisque;
    font-size:medium;
    text-align: center;
   padding-left:15px;

}
.ft-img{
    width: 35px;
    padding-right:15px;

}
.contenedor-footer{
    display:flex;
    justify-content:space-between;
    text-align: center;
}
.footer-link{
    width: 50%;
    display:flex;
    justify-content: end;
    gap: 10px;
    align-items:center;
}
